/*
 ===================================
               FORMAT   
 ===================================
*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #DAD3D3;
}

/*
 ===================================
               HEADER   
 ===================================
*/

header {
  background-color: #2D044E;
  color: #fff;

  align-items: center;
  text-align: center;

  padding: 20px;
}

header h2 {
  padding-top: 70px;
  padding-bottom: 30px;

  font-size: 72px;
}

header h4 {
  font-size: 62px;
  padding-bottom: 20px;
}


/*
 ===================================
               MAIN   
 ===================================
*/

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 20px;
}

main option {
  padding: 60px;
  font-size: 20px;
}


/*
 ===================================
               TABLE   
 ===================================
*/

table {
  background-color: #ffffff;
  border-radius: 5px;
}

table td {
  align-items: center;
  text-align: center;
  justify-content: space-evenly;

  padding: 30px;
  font-size: 25px;
}

table h2 {
  color: #2D044E;
}


/*
 ===================================
               FOOTER   
 ===================================
*/

footer {
  text-align: center;
}

footer p {
  font-size: 20px;
  color: rgb(138, 134, 134);
  padding: 20px;
}


